#background{
    background-color: rgb(255, 255, 255);
    height: 10vh;
}

#title1{
    text-align: center;
}

#altura{
    text-align: right;
}

#apply_button{
    float:right;
}

#form{
    text-align: center;
}

#options{
    padding-left: 5px;
}

#lateral{
    display: flex;
}

#lateral{
    display: flex;
}

#table{
    text-align: center;
}

.coluna{
    text-align: left;
}

.coluna2{
    text-align: center;
}

.coluna3{
    text-align: right;
}

#filter_types{
    text-align: left !important;
    
}

#global_form{
    position: relative;
    text-align: center;
    margin-right: 33%;
}

.filters{
    position: relative;
    text-align: left;
    margin-left: 24%;
}

#pag{
    float: right;
    padding-right: 150px;
}

.table{
    max-width: 1000px;
    margin:auto;
}

#search_box{
    position: relative;
    top: 30%;
    margin-left: 6%;
}

.add_person{
    margin-left: 45%;
}

#ind_form{
    text-align: left !important;
}

#title1{
    margin-top: 20px;
}

