#background{
    background-color: rgb(255, 255, 255);
}

#title1{
    text-align: center;
}

#altura{
    text-align: right;
}

#apply_button{
    float:right;
}

#form{
    text-align: center;
}

#options{
    padding-left: 5px;
}

#lateral{
    display: flex;
}

#lateral{
    display: flex;
}


#table{
    text-align: center;
}

.coluna{
    text-align: center;
}

#filter_types{
    text-align: left !important;
}

#global_form{
    text-align: center;
}

#pag{
    float: right;
    padding-right: 150px;
}